#Startup file for the website
#Put file in /lib/systemd/system
#run systemctl enable honeyWeb.service 

[Unit]
Description=Web Front End for HoneyBot
After=network.target

[Service]
Type=forking
PIDFile=/var/run/honeyWeb.pid
WorkingDirectory=/var/honeyBot/
ExecStart=/usr/sbin/daemonize /var/honeyBot/honeyWeb.py  --pid
RestartSec=30s
Restart=always
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
